{% extends 'server/master.html' %}

{% load static %}

{% block title %}
{{'product detail'|title}}
{% endblock %}
        
{% block content %}

<div class="top">
    <div class="product_page_header padding-side">
        <header class="header-top">
            <div class="header">
                {% include 'server/components/inc_menu.html' %}
            </div>
        </header>
    </div>
            
    <div class="product_page_subheader padding-side">
            <ul class=" product_page_menu ">
            {% for category in categories_menu_links %}
              <li>
                  <a class="{% if instance.product_category.name|lower == category.name|lower %}
                  active_submenu_link
                  {% else %}
                  submenu-link
                  {% endif %}"
                  " href="{% url category.href %}">{{ category.name|upper }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>

    <div class="product_details_container padding-side">

        <div class="product_images">
            {% for product in product_detail_products %}
            {% if product.pk == instance.pk and forloop.counter0 > 2 %}
                <div class="product_detailed_image">
                <a href="{% url 'product_detail:product_detail' pk=instance.pk %}">
                    <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                </a>
                </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="product_info">
            <h2>{{ instance.name }}</h2>
            <h3>{{ instance.special_offer }}</h3>
            <div class="price-container">
                <p class="price-text">$</p>
                <p class="price"> {{ instance.price }}</p>
                <p class="price-text">/sq</p>
            </div>

            <a class="product_order_button" href="{% url 'product_detail:product_detail' pk=instance.pk %}">Order Us<img src="{% static 'product_detail/img/arrow1.png' %}" alt="arrow"></a>
            <p class="product-page-text">{{ instance.description }}</p>
        </div>
    </div>

    <div class="slider-table">
        <div class="slider-table-header">
            <a href="{% url 'main:main' %}" class="trending_product">Trending Products</a>

            {% include 'product_detail/components/inc_explore-link.html' %}
        </div>

        <div class="product-box">

                {% for product in product_detail_products %}

                {% if forloop.counter0 < 3 %}
                <div class="block product-hover">
                        <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
        
                        <div class="product-text">
                            <a href="{% url 'product_detail:product_detail' pk=product.pk %}">&gt;</a>
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.product_category.name }}</p>
                        </div>
                    </div>
                {% endif %}

                {% endfor %}

        </div>

        <div class="refresh-container">
        </div>
    </div>
</div>

{% endblock %}