{% extends 'server/master.html' %}

{% load static %}

{% block title %}
{{'product detail'|title}}
{% endblock %}
        
{% block content %}

<div class="top">
    <div class="product_page_header padding-side">
        <header class="header-top">
            <div class="header">
                {% include 'server/components/inc_menu.html' %}
            </div>
        </header>
    </div>
            
    <div class="product_page_subheader padding-side">
            <ul id="rest_page_menu">
                </ul>
                <script type="text/javascript" src="{% static 'server/rest_page_menu.js' %}"></script>
                <script>
                    axios.get('http://localhost:8000/api/categories/')
                    .then(renderData)
                </script>
          </div>

    <div class="product_details_container padding-side">

        <div class="product_images">
                <div class="product_detailed_image">
                <a href="{% url 'product_detail:product_detail' pk=instance.pk %}">
                    <img src="/media/{{ instance.image }}" alt="{{ instance.short_desc }}">
                </a>
                </div>
        </div>

        <div class="product_info">
                <form class="model-form" method="POST" action="">
                        {% csrf_token %}
                
                        <button value="Update">
                            <a href="{% url 'product_detail:update' pk=instance.pk %}">Update</a>
                        </button>
                        <button value="Delete">
                            <a href="{% url 'product_detail:delete' pk=instance.pk %}">Delete</a>
                        </button>
                    </form>
            <h2>{{ instance.name }}</h2>
            <h3>{{ instance.special_offer }}</h3>
            <div class="price-container">
                <p class="price-text">$</p>
                <p class="price"> {{ instance.price }}</p>
                <p class="price-text">/sq</p>
            </div>

            <a class="product_order_button" href="{% url 'product_detail:product_detail' pk=instance.pk %}">Order Us<img src="{% static 'product_detail/img/arrow1.png' %}" alt="arrow"></a>
            <p class="product-page-text">{{ instance.description }}</p>
        </div>
    </div>

    <div class="slider-table">
        <div class="slider-table-header">
            <a href="{% url 'product_list:product_category' pk=1 %}" class="trending_product">Trending Products</a>

            {% include 'product_detail/components/inc_explore-link.html' %}
        </div>

        <div id="detail_page_extra_products" class="product-box">                   
        </div>
        <script type="text/javascript" src="{% static 'server/rest_detail_page_products.js' %}"></script>
        <script>
            axios.get('http://localhost:8000/api/products/')
            .then(renderPageData)
        </script>

        <div class="refresh-container">
        </div>
    </div>
</div>

{% endblock %}