{% extends 'server/master.html' %}

{% load static %}

{% block title %}
{{'product list'|title}}
{% endblock %}

{% block content %}

<div class="top">
    <div class="contact_page_header padding-side">
        <header class="header-top">
            <div class="header">
                    {% include 'server/components/inc_menu.html' %}
            </div>
        </header>

        <div class="contact_us_heading">
            <h2>Our Products Range</h2>
        </div>
    </div>

    <div class="slider-table padding-side">
        <div class="products-menu-container">
            <ul class="products-menu">
                    {% for category in categories_menu_links %}
                    <li>
                        <a class="{% if request.resolver_match.url_name == category.name|lower %}
                        products-menu-active
                        {% endif %}
                        submenu-link
                        products-menu-item"
                        " href="{% url category.href %}">{{ category.name|upper }}</a>
                    </li>
                    {% endfor %}
            </ul>
        </div>

        <div class="product-box">
                {% for product in product_list_products %}

                {% if forloop.counter0 < 6 %}
                <div class="block product-hover">
                        <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
        
                        <div class="product-text">
                            <a href="{% url 'product_detail:product_detail' %}">&gt;</a>
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.product_category.name }}</p>
                        </div>
                    </div>
                {% endif %}

                {% endfor %}

                {% for product in product_list_products %}

                {% if forloop.counter0 < 6 %}
                <div class="block product-hover">
                        <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
        
                        <div class="product-text">
                            <a href="{% url 'product_detail:product_detail' %}">&gt;</a>
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.product_category.name }}</p>
                        </div>
                    </div>
                {% endif %}

                {% endfor %}
        </div>

        <div class="refresh-container">
            <a class="refresh-link" href="{% url 'product_list:product_list' %}"><img class="refresh-img" src="{% static 'product_list/img/refresh.png' %}" alt="refresh"></a>
        </div>
    </div>
    
    <div class="space">
    </div>
    
    <div class="slider-two-sides">
        
        {% for product in product_list_products reversed %}

        {% if forloop.counter0 == 0 %}

        <div class="slider-left">
            <h3>{{ product.special_offer }}</h3>

            <h2>{{ product.name }}</h2>

            <p>{{ product.description }}</p>

            {% include 'product_list/components/inc_order_button.html' %}
        </div>

        {% endif %}

        {% endfor %}

        {% for product in product_list_products reversed %}

        {% if forloop.counter0 == 1 %}

        <div class="slider-right">
            <h3>{{ product.special_offer }}</h3>

            <h2>{{ product.name }}</h2>

            <p>{{ product.description }}</p>

            {% include 'product_list/components/inc_order_button.html' %}
        </div>

        {% endif %}

        {% endfor %}
    </div>
</div>

{% endblock %}
